
@using EmployeeTest.Models;
@using EmployeeTest.ViewModels;
@{
   // Layout = "~/Views/Shared/MyLayout.cshtml";
    //Employee emp = ViewData["Employee"] as Employee;
    Employee emp = ViewBag.Employee;
    @model EmployeeListViewModel
    string s = Model.UserName;
}
<!DOCTYPE html>
<style>

    .box {
        display: -webkit-flex; /* Safari */
        display: flex;
        /*flex-shrink:1;*/
        justify-content: flex-start;
        flex-direction: column;
        width: 280px;
        position: absolute;
    }

    .box1 {
        border: solid 1px #333;
        border: hidden;
        /*display:flex;
        display: inline-flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:stretch;*/
    }

    .box11 {
        flex-direction: column;
        /*height:10px;
        width:auto;*/
        border: solid #FF00FF;
        border: hidden;
    }

    .box2 {
        /*height:400px;*/
        width: 280px;
        border: solid 2px #808080;
        border-left: hidden;
        border-right: hidden;
        overflow-y: auto;
    }

    .box3 {
        /*height:30px;
          width:280px;
          top:3px;*/
        /*display:inline;*/
        /*position: absolute;*/
        /*border: solid #333;*/
        /*border:hidden;*/
    }

    table {
        font-size: 30px;
        border-collapse: collapse;
        /*border:solid;*/
        /*border:hidden;*/
    }

    tr {
        /*border:solid;*/
        /*border-color: black;
        border-left: hidden;*/
        /*border-right:hidden;*/
    }

    td {
        /*border:solid;*/
        /*border-left: hidden;
        border-right: hidden;*/
        /*border:solid;*/
    }

    .hDiv1 {
        vertical-align: middle;
        text-align: center;
    }

    .hDiv1img {
        height: 50px;
    }

    .hDiv2 {
        vertical-align: middle;
        text-align: center;
    }

    .hDiv2inp {
        height: 50px;
    }

    .hDiv3 {
        vertical-align: middle;
        text-align: center;
    }

    .hDiv3serch {
        height: 50px;
    }

    input[type=checkbox] {
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FireFox */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function doAction1() {
        var id = document.getElementsByName('check_input');
        var value = new Array();
        for (var i = 0; i < id.length; i++) {
            if (id[i].checked) {
                value.push(id[i].id);
            }  
        }
        if (value.length > 0)
            $.post('/Employee/DeleteEmployee', { "array": value },
                function (data, status) {
                    if (status == "success" && data != "no")
                        location.href = "/Employee/Index/";
                }, "text");
    }

    function doAction2() {
        location.href = '/Employee/AddNew';
    }
    function pageload() {
        var size = {
            width: window.innerWidth || document.body.clientWidth,
            height: window.innerHeight || document.body.clientHeight
        }

        var vw = size.height - size.height * 0.2;
        $('.box2').css({ 'height': vw + 'px' });
        //$('td').css({ 'height': size.height * 0.1 + 'px' });
        $('.box').css({ 'width': size.width + 'px' });
        $('.box1').css({ 'width': size.width + 'px' });
        $('.box2').css({ 'width': size.width + 'px' });
        $('.box3').css({ 'width': size.width + 'px' });
        $('table').css({ 'width': size.width + 'px' });
        $('tr').css({ 'width': size.width + 'px' });
        $('.hDiv1').css({ 'width': size.width * 0.2 + 'px' });
        $('.hDiv2').css({ 'width': size.width * 0.4 * 0.9 + 'px' });
        $('.hDiv2inp').css({ 'width': size.width * 0.4 * 0.8 + 'px' });
        $('.hDiv3').css({ 'width': size.width * 0.4 * 0.9 + 'px' });
        $('.hDiv3serch').css({ 'width': size.width * 0.4 * 0.8 + 'px' });
        //$('.hDiv1').css({ 'height': size.height * 0.1 + 'px' });
        //$('.hDiv1img').css({ 'height': size.height * 0.1 * 0.8 + 'px' });
        //$('.hDiv2').css({ 'height': size.height * 0.1 + 'px' });
        //$('.hDiv2inp').css({ 'height': size.height * 0.1 * 0.8 + 'px' });
        //$('.hDiv3').css({ 'height': size.height * 0.1 + 'px' });
        //$('.hDiv3serch').css({ 'height': size.height * 0.1*0.8 + 'px' });
        $('.box1').css({ 'height': size.height * 0.1 + 'px' });
        $('.box3').css({ 'height': size.height * 1 * 0.1 + 'px' });
    }
    window.onload = pageload;
</script>
<head>
</head>
<body>
    <div class="box">
        <div id="Div_Top" class="box1">
            <table>
                <tr style="vertical-align:middle;">
                    <td class="hDiv1">
                        管理员
                    </td>
                </tr>
            </table>
        </div>
        <div class="box2" id="midDiv">
            <table border="1">
                @for (int i = 0; i < Model.Employees.Count; i++)
                {
                <tr style="height:30px;">
                    <td width="52" style="text-align:center;border:hidden;"><input type="checkbox" name="check_input"  id="@Model.Employees[i].UserID"/> </td>
                    <td width="52" colspan="3" style="text-align:left;border:hidden;">账号:@Model.Employees[i].UserID<br>密码:@Model.Employees[i].Password </td>
                    @if (@Model.Employees[i].Authentication == 1)
                    {
                        <td width="52" style="text-align:left;border:hidden;"><input type="image" width="45" src="~/image/u2630.png" /> </td>
                    }
                    else
                    {
                        <td width="52" style="text-align:left;border:hidden;"><input type="image" onclick="location.href='@Url.Action("SetAdmin","Employee",new {UserID = Model.Employees[i].UserID,Password = Model.Employees[i].Password,Name = Model.Employees[i].Name,Authentication = Model.Employees[i].Authentication} )'" width="45" src="~/image/u2631.png" /> </td>
                    }
                </tr>
                }
            </table>
        </div>
        <div class="box3">
            <table>
                <tr>
                    <td colspan="5" height="30" style="border-top:solid #808080;"></td>
                </tr>
                <tr>
                    <td width="70" style="vertical-align:middle;text-align: center;"></td>
                    <td width="70" style="vertical-align:middle;text-align: center;">
                        <input height="50" onclick="doAction1()" type="image" src="~/image/u2635.png" />
                    </td>
                    <td width="70" style="vertical-align:middle;text-align: center;">

                    </td>
                    <td width="70" style="vertical-align:middle;text-align: center;">
                        <input height="50" onclick="doAction2()" type="image" src="~/image/add1.png" />
                    </td>
                    <td width="70" style="vertical-align:middle;text-align: center;"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
@*<h2>MyView</h2>
    <body>
        <b>Employee Details</b><br/>
        <div style="text-align:left"> Hello, @Model.UserName <a href="/Authentication/Logout">Logout</a> <br/>

        </div>
        <hr />

        @{
            Html.RenderPartial("Footer",Model.FooterData);
        }
    </body>*@
